@import "../../styles/mixins.scss";

.filterCheckbox {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--colorInteractionBackground);
  font-size: 0.85rem;

  @include hoverOverlay();

  .label {
    margin-right: 0.5rem;
  }
}
