.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.diskCapacity {
  font-size: 1.25em;
  margin: 0;
}

.nicVlan {
  margin: 0.5rem 0;
}

.nicMac {
  color: var(--color-emphasis-low);
  margin: 0;
}

.nicBridge {
  margin: 0 0 0.25rem;
  font-size: 1.25em;
}

.nicParamList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid var(--color-separator);
  }
}
