.header {
  display: flex;
  gap: 1rem;
  align-items: center;

  .consoleLink {
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;
    color: inherit;
    margin-left: auto;
  }
}

.diskCapacity {
  font-size: 1.25em;
  margin: 0;
}

.nicVlan {
  margin: 0.5rem 0;
}

.nicMac {
  color: var(--colorEmphasisLow);
  margin: 0;
}

.nicBridge {
  margin: 0 0 0.25rem 0;
  font-size: 1.25em;
}
