.clusterNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;

  .header {
    margin-right: 4rem;

    h1 {
      color: var(--foregroundSecondary);
    }

    p {
      color: var(--foregroundPrimary);
    }
  }
}
