@import "../../styles/vars";

.vncConsole {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$navbar-height} - #{$breadcrumbs-height});

  .control {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--color-danger);
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    font-weight: bold;

    .errorClose {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
