@mixin when-light {
  html.light & {
    @content;
  }
}

body {
  --color-emphasis-high: #f5f5f5;
  --color-emphasis-medium: #a4aa9d;
  --color-emphasis-low: #505050;
  --color-separator: #464646;
  --color-interaction-background: #303030;
  --color-elevation-low: #262626;
  --color-elevation-medium: #303030;
  --color-elevation-high: #3b3b3b;
  --drop-shadow: 0 0.25rem 1rem #000;
  --overlay: rgb(255 255 255 / 10%);
  --color-primary-shade: #7cb0dc;
  --color-primary: #67a0d5;
  --color-warning: #febc2c;
  --color-success: #5cb85c;
  --color-danger: #f84c48;

  @include when-light {
    --color-emphasis-high: #000;
    --color-emphasis-medium: #333;
    --color-emphasis-low: #505050;
    --color-separator: #e3e3e3;
    --color-interaction-background: rgb(235 235 235);
    --color-elevation-low: #fff;
    --color-elevation-medium: #fff;
    --color-elevation-high: #fff;
    --color-primary-shade: #4672af;
    --drop-shadow: 0 0.25rem 1rem rgb(0 0 0 / 50%);
    --overlay: rgb(0 0 0 / 5%);
  }
}
