@mixin whenDark {
  html.dark & {
    @content;
  }

  // Ensure dark mode still works if JS is disabled (e.g. if you are pre-rendering your site)
  // @media (prefers-color-scheme: dark) {
  //   & {
  //     @content;
  //   }
  // }
}

$white: #fff;
$darkerWhite: #eee;
$darkerWhiteShadow: rgba(79, 79, 79, 0);
$dark: #222;
$darkGrey: #292929;
$darkerShadow: rgba(34, 34, 34, 0.4);
$outlineColor: #797979;
$activeColor: #67a0d5;
$inactiveColor: #2c3e50;
$colorDanger: #d9534f;
$colorSuccess: #5cb85c;
$colorWarning: #f0ad4e;

body {
  --foregroundPrimary: #{$dark};
  --foregroundSecondary: #{$outlineColor};
  --backgroundPrimary: #{$white};
  --backgroundSecondary: #{$darkerWhite};
  --activeColorForeground: #{$activeColor};
  --inactiveForeground: #{$inactiveColor};
  --shadow: #{$darkerShadow};
  --colorSuccess: #{$colorSuccess};
  --colorWarning: #{$colorWarning};
  --colorDanger: #{$colorDanger};

  @include whenDark {
    --foregroundPrimary: #{$white};
    --foregroundSecondary: #{$outlineColor};
    --backgroundPrimary: #{$dark};
    --backgroundSecondary: #{$darkGrey};
    --activeColorForeground: #{$activeColor};
    --inactiveForeground: #{$darkerWhite};
    --shadow: #{$darkerWhiteShadow};
  }
}
