@mixin hover-overlay {
  & {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: var(--overlay);
      transition: opacity 0.1s;
      pointer-events: none;
      border-radius: inherit;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
