@import "../../styles/mixins.scss";

$spacingOuter: 1.5rem;
$spacingInner: 0.5rem;
$transitionDuration: 0.2s;
$width: 200px;
$borderRadius: 4px;
$size: 40px;

.root {
  position: relative;
  height: $size;
  cursor: pointer;

  &.hasLabel {
    min-width: $width;
  }

  .current {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0 $spacingOuter;
    border: 1px solid var(--colorSeparator);
    border-radius: $size / 2;
    width: 100%;
    height: 100%;
    gap: 0.75rem;

    @include hoverOverlay();

    .label {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: inherit;
      margin: 0;
    }
  }

  .optionsWrapper {
    position: absolute;
    visibility: hidden;
    top: calc(100% + 1rem);
    min-width: $width;
    border-top: 0;
    background: var(--colorElevationHigh);
    box-shadow: var(--dropShadowElevationHigh);
    opacity: 0;
    border-radius: $borderRadius;
    transition: opacity $transitionDuration, visibility 0s $transitionDuration;
    z-index: 99;

    .triangle {
      width: 1rem;
      height: 1rem;
      background: var(--colorElevationHigh);
      position: absolute;
      top: -0.5rem;
      transform: rotate(45deg);
    }

    .options {
      overflow: hidden;
      border-radius: inherit;
    }
  }

  &.expanded .optionsWrapper {
    visibility: visible;
    opacity: 1;
    transition: opacity $transitionDuration, visibility 0s;
  }

  &.left .optionsWrapper {
    left: 0;

    .triangle {
      left: $spacingOuter;
    }
  }

  &.center .optionsWrapper {
    left: 50%;
    transform: translateX(-50%);

    .triangle {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &.right .optionsWrapper {
    right: 0;

    .triangle {
      right: $spacingOuter;
    }
  }
}
