$spacingOuter: 1rem;
$spacingInner: 0.5rem;
$transitionDuration: 0.2s;
$width: 200px;
$borderRadius: 4px;

.dropdown {
  position: relative;
  width: $width;
  height: 48px;
  cursor: pointer;

  .current {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0 $spacingOuter;
    background: var(--backgroundPrimary);
    border-radius: $borderRadius;
    color: var(--foregroundPrimary);
    width: 100%;
    height: 100%;
    border: 1px solid var(--foregroundSecondary);

    .label {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: inherit;
      margin: 0;
    }
  }

  .optionsWrapper {
    position: absolute;
    right: 0;
    visibility: hidden;
    top: calc(100% + 24px);
    min-width: $width;
    border-top: 0;
    background: var(--backgroundSecondary);
    box-shadow: 0 0 1rem var(--shadow);
    opacity: 0;
    border-radius: $borderRadius;
    transition: opacity $transitionDuration, visibility 0s $transitionDuration;
    z-index: 99;

    .triangle {
      width: $spacingOuter;
      height: $spacingOuter;
      background: var(--backgroundSecondary);
      position: absolute;
      top: $spacingOuter * -0.5;
      right: $spacingOuter;
      transform: rotate(45deg);
    }

    .options {
      overflow: hidden;
      border-radius: $borderRadius;
      color: var(--foregroundPrimary);
    }
  }

  &.hasIcon .current .label {
    margin: 0 $spacingOuter 0 0;
  }

  &.expanded .optionsWrapper {
    visibility: visible;
    opacity: 1;
    transition: opacity $transitionDuration, visibility 0s;
  }
}
