$transition-duration: 0.15s;
$height: 26px;
$width: 54px;
$outer-spacing: 12px;
$padding: 2px;
$knob-size: $height - ($padding * 2);

.toggle {
  position: relative;
  border: 1px solid var(--color-separator);
  border-radius: calc($height / 2);
  height: $height;
  width: $width;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  background: var(--color-elevation-low);

  .knob {
    position: absolute;
    width: $knob-size;
    height: $knob-size;
    border-radius: calc($knob-size / 2);
    background: var(--color-emphasis-medium);
    left: $padding;
    top: $padding;
    bottom: $padding;
    transition: transform $transition-duration;
  }

  &.isDark {
    .knob {
      transform: translateX($width - $knob-size - (2 * $padding));
    }
  }
}
