$size: 48px;
$sizeSmall: 28px;

.button {
  transition: transform 0.2s, opacity 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: $size;
  color: #333;
  background: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 2px;

  &.danger {
    color: #fff;
    background: #e53935;
    border-color: transparent;
  }

  &.primary {
    color: #fff;
    background: #76a7fa;
    border-color: transparent;
  }

  &.isSmall {
    height: $sizeSmall;
  }

  &:not(.hasLabel) {
    width: $size;
    padding: 0;

    &.isSmall {
      width: $sizeSmall;
    }
  }

  &.isRound {
    border-radius: $size / 2;

    &.isSmall {
      border-radius: $sizeSmall / 2;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.hasSpacing {
    .label {
      margin-left: 0.75rem;
    }
  }
}
