.button {
  border: 0;
  transition: transform 0.2s, opacity 0.2s;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  height: 48px;
  background: #76a7fa;
  color: #fff;
  border-radius: 2px;

  &:hover {
    opacity: 1;
  }

  &.hasSpacing {
    .label {
      margin-left: 0.75rem;
    }
  }
}
