$size: 48px;
$sizeSmall: 28px;

.button {
  position: relative;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 48px;
  background: var(--colorElevationMedium);
  color: var(--colorEmphasisHigh);
  border-radius: 2px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.85rem;

  // hover overlay
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: var(--overlay);
    transition: opacity 0.1s;
    pointer-events: none;
    border-radius: inherit;
  }

  &:hover::after {
    opacity: 1;
  }

  &.danger {
    color: #fff;
    background: #e53935;
    border-color: transparent;
  }

  &.primary {
    background: var(--colorPrimary);
    color: #fff;
    border-color: transparent;
  }

  &.isSmall {
    height: $sizeSmall;
  }

  &:not(.hasLabel) {
    width: $size;
    padding: 0;

    &.isSmall {
      width: $sizeSmall;
    }
  }

  &.isRound {
    border-radius: $size / 2;

    &.isSmall {
      border-radius: $sizeSmall / 2;
    }
  }

  &.hasSpacing {
    .label {
      margin-left: 0.75rem;
    }
  }
}
