.badge {
  height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.75rem;
  border-radius: 0.75rem;
  text-transform: uppercase;
  font-size: 0.8em;
  white-space: nowrap;
}
