.root {
  position: fixed;
  inset: 0;
  background: rgba(#000, 0.6);
  display: grid;
  place-content: center;
  padding: 1rem;

  .content {
    position: relative;
    background: var(--color-elevation-high);
    max-width: 800px;
    padding: clamp(1rem, 2.5vw, 4rem);
    border-radius: 4px;
    box-shadow: var(--drop-shadow);

    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
      color: var(--color-emphasis-low);
    }
  }
}