.currentMaster {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--overlay);
  border-top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 1rem;

  .master {
    font-weight: bold;
  }
}
