.dashboard {
  .statistics {
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-template-rows: auto;

    .stat {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: #a9a9a9;
      font-weight: 800;
    }
  }
}
