.statistics {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #a9a9a9;
    font-weight: 800;
  }
}
