$padding: 0.5rem;
$transitionDuration: 0.1s;

.inputWrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--foregroundSecondary);
  border-radius: 3px;
  margin: 1rem 0;

  .input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    padding: 2*$padding $padding;
    transition: transform $transitionDuration;
    background-color: var(--backgroundPrimary);
    color: var(--foregroundPrimary);
  }

  .label,
  .error {
    position: absolute;
    right: $padding;
    font-size: 0.75rem;
  }

  .label {
    top: -0.2rem;
    left: $padding;
    color: var(--foregroundSecondary);
    opacity: 0;
    transition: opacity $transitionDuration, transform $transitionDuration;
  }

  .error {
    color: var(--colorDanger);
    top: 0.3rem;
  }

  &.isFocused {
    border-color: var(--activeColorForeground);
  }

  &.hasError,
  &.hasError.isFocused {
    border-color: var(--colorDanger);
  }

  &.hasContent {
    .input,
    .label {
      transform: translateY($padding);
    }

    .label {
      opacity: 1;
    }
  }
}
