.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background: var(--backgroundPrimary);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid var(--backgroundSecondary);

  .begin {
    display: flex;
    align-items: center;

    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 3rem;
        height: 3rem;
      }
    }

    .items {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      .item {
        display: block;
        font-weight: bold;
        color: var(--inactiveForeground);
        padding: 1rem;

        &.active {
          color: var(--activeColorForeground);
        }
      }
    }
  }

  .end {
    display: flex;
    align-items: center;

    .logoutButton {
      margin-left: 1rem;
    }
  }
}
