@import "../../styles/vars";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: var(--color-elevation-medium);
  height: $navbar-height;

  .begin {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    padding-right: 2rem;

    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: block;
        font-weight: bold;
        color: var(--color-emphasis-high);
        padding: 1rem;

        &.active {
          color: var(--color-primary);
        }
      }
    }

    .searchBar {
      flex: 1;
      max-width: 800px;
    }
  }

  .end {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
