.error {
  padding: 10vh 0;
  display: flex;
  gap: 4rem;
  align-content: center;
  max-width: 600px;
  margin: 0 auto;

  header {
    position: relative;

    .robot svg,
    .bolt svg {
      width: 100%;
      height: 100%;
    }

    .robot {
      width: 6rem;
      height: 6rem;
      color: var(--colorPrimary);
    }

    .bolt {
      color: var(--colorDanger);
      position: absolute;
      bottom: 0.25rem;
      right: -0.75rem;
      width: 3rem;
      height: 3rem;
    }
  }

  h1 {
    color: var(--colorEmphasisMedium);
  }
}
