.root {
  border: 0;
  background: transparent;
  color: inherit;
  padding: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}
