.root {
  position: relative;

  .job {
    position: relative;
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-areas: "actions .";
    min-width: 400px;

    .actions {
      grid-area: actions;
      display: flex;
      justify-content: center;
      align-items: center;

      .untrackButton {
        border: 0;
        display: block;
        height: 100%;
        width: 32px;
        cursor: pointer;
        color: #fff;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          transition: opacity 0.15s;
          background-color: rgba(#fff, 0.2);
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      .statusDot {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
      }
    }

    &.running .actions .untrackButton {
      background-color: var(--colorPrimary);
    }

    &.error .actions .untrackButton {
      background-color: var(--colorDanger);
    }

    &.success .actions .untrackButton {
      background-color: var(--colorSuccess);
    }

    &.pending .actions .untrackButton {
      background-color: var(--colorWarning);
      color: #000;
    }
  }

  .count,
  .successIndicator,
  .failureIndicator {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 28px;
    height: 28px;
    z-index: 1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .count {
    background: var(--colorPrimary);
  }

  .successIndicator {
    background: var(--colorSuccess);
    color: #fff;
  }

  .failureIndicator {
    background: var(--colorDanger);
    color: #fff;
  }
}
