.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  padding: 0 30px;
  box-shadow: var(--dropShadowElevationLow);
  background: var(--colorElevationMedium);
  background: var(--colorElevationMedium);

  &.noHorizontalPadding {
    padding: 0;
  }

  .cardHeader,
  .cardFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 0.75rem;

    .cardTitle {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 500;
      color: var(--colorEmphasisMedium);
      text-transform: uppercase;
    }
  }

  .cardHeader {
    justify-content: space-between;
  }

  .cardBody {
    margin: 12px 0;
  }
}
