.configurableCard {
  overflow: hidden;
  width: 250px;

  .interaction {
    flex-shrink: 0;
    flex-grow: 0;
    width: 64px;

    &.hidden {
      transform: translateY(-100%);
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.25rem;

    .buttonContainer {
      width: 64px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .value {
      width: 100%;
      text-align: center;
      position: relative;
    }
  }
}
