.wrapper {
  position: relative;
  padding: 0.25rem 0;
  width: 23ch;

  .total,
  .inUse {
    padding: 0 0.1rem;
    font-weight: bold;
  }

  .separator {
    color: var(--colorEmphasisMedium);
    font-weight: bold;
  }

  .indicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    opacity: 0.5;
    background-color: var(--colorSeparator);

    .progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  &.critical .indicator .progress {
    background: var(--colorDanger);
  }

  &.warn .indicator .progress {
    background: var(--colorWarning);
  }

  &.ok .indicator .progress {
    background: var(--colorSuccess);
  }
}
