.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20vh;

  .logo {
    margin: 2rem 0;

    img {
      width: 160px;
      height: auto;
    }
  }

  .input {
    margin-bottom: 1rem;
  }

  .loginError {
    color: red;
  }
}
