name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build App

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Build web
        run: |
          cd web
          npm ci
          npm run test --watchAll=false
          npm run build

      - name: Set up Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
        id: go

      - name: Build
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: build --snapshot
          workdir: ./api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
          workdir: ./api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
