name: Web

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install yarnpkg
      run: sudo apt-get update && sudo apt-get -y install yarnpkg

    - name: Install dependencies and start build
      run: |
        cd web
        yarn install
        yarn build
