name: Web

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run:
    working-directory: ./web

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: borales/actions-yarn@v2.0.0
      with:
        cmd: install

    - uses: borales/actions-yarn@v2.0.0
      with:
        cmd: build
      - uses: borales/actions-yarn@v2.0.0
      with:
        cmd: test
