.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  background: var(--activeColorForeground);
  color: #fff;

  .title {
    font-size: 1.5rem;
  }
}
